mixin gallery-column(images)
  div.gallery__column
    each image in images
      div.progressive-image.lqip__wrapper(style=`padding-bottom: ${image.ratio * 100}%`)
        img.gallery__image(
          alt='Bilder usem Blog'
          src=image.blurryThumb
          data-lqip-src=image.url
          data-lqip-srcset=image.srcset
          sizes="320px"
        )
        noscript
          img.gallery__image(
            alt='Bilder usem Blog'
            src=image.url
            srcset=image.srcset
            sizes="320px"
          )

mixin gallery-post(images, title)
  article
    h1= title
    div.gallery
      each imageColumn in images
        +gallery-column(imageColumn)
