extends _layout
include mixins/gallery-post
include mixins/navigation

block meta
  title Bilder - #{post.title}
  meta(property="og:url" content=post.galleryLiveUrl)
  meta(property="og:title" content=`Bilder - ${post.title}`)
  meta(property="og:image" content=post.titleImage.getThumbnail(1200))

block styles
  !=webpack['/galleryCss.css']

block navigation
  +post-navigation('galerie')

block body
  section.container
    - const postCountry = post.country ? post.country.name : 'Irgendwo'
    nav.gallery__country-navigation
      select.country-selector
        each country in [...countries]
          option(
            value= country[1].posts[0].galleryUrl
            selected= (country[1].name === postCountry)
          )= country[1].name || 'Irgendwo'

  div.gallery__navigation-wrapper
    button.nav__arrow-left
      img(src="https://adie.bisnaer.ch/s/img/pfiu_linggs.png" alt="Pfiu nach linggs")
    nav.gallery__post-navigation
      - const country = countries.get(postCountry)
      each tile in country.posts
        a.post__tile(
          href= (tile.galleryUrl + '#i' + tile.id)
          class= (post.title === tile.title ? 'active' : '')
          id= ('i' + tile.id)
        )
          img(
            src= tile.titleImage.getThumborUrl({ width: 80, height: 80 })
          )
          span!= tile.title
    button.nav__arrow-right
      img(src="https://adie.bisnaer.ch/s/img/pfiu_linggs.png" alt="Pfiu nach rächts")

  div.gallery__images-wrapper
    article.gallery__images(
      data-masonry='{ "itemSelector": ".gallery__image" }'
    )
      each image in post.images
        div.gallery__image
          div.progressive-image.lqip__wrapper(style=`padding-bottom: ${image.ratio * 100}%`)
            img(
              alt=`Bilder ${post.country ? post.country.titleText : 'vo irgendwo'}`
              src=image.blurryThumb
              data-lqip-src=image.url
              data-lqip-srcset=image.srcset
              sizes="(min-width: 768px) 320px, 50vw"
            )
            noscript
              img(
                alt=`Bilder ${post.country ? post.country.titleText : 'vo irgendwo'}`
                src=image.url
                srcset=image.srcset
                sizes="(min-width: 768px) 320px, 50vw"
              )

  - if (lastPost)
    section.container
      hr
      div.post
        a.post__link(href=lastPost.galleryUrl + '#i' + lastPost.id)
          div.progressive-image.lqip__wrapper(style=`padding-bottom: ${lastPost.titleImage.ratio * 100}%`)
            img.post__title-image(
              alt="Titelbild"
              src=lastPost.titleImage.blurryThumb
              data-lqip-src=lastPost.titleImage.url
              data-lqip-srcset=lastPost.titleImage.srcset
              sizes="(max-width: 640px) 100vw, 600px"
            )
            noscript
              img.post__title-image(
                alt="Titelbild"
                src=lastPost.titleImage.blurryThumb
                srcset=lastPost.titleImage.srcset
                sizes="(max-width: 640px) 100vw, 600px"
              )
          div.post__overlay
            h2.post__title.h3!= lastPost.title

block scripts
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  script(defer src=webpack['/gallery.js'])
