extends _layout-mail

block meta
  title Hey #{subscriber.displayName}, es git e nöii Gschicht uf bisnär.ch

block styles
  style
    include ../../styles/molecules/notification-mail.scss

block preheader
  span.preheader Gönn dir e Pouse und lis d'Gschicht "#{post.title}" uf bisnär.ch

block body
 table.content
  tr
    td.logo
      a(href='https://bisnär.ch')
        img(src=logoUrl)

  tr
    td
      a(href=post.liveUrl)
        img(src=post.titleImage.getThumbnail(640))
        h1= post.title

  tr
    td
      a.cta(href=post.liveUrl) Itze läse

  tr
    td.footer
      p Ugh, ig wott mi vo däm Zügs <a href="https/bisnär.ch/api/unsubscribe/#{subscriber.id}">abmäude</a>. Süsch scho gnue Spam.
