extends _layout

include mixins/navigation
include mixins/drawing
include mixins/next-post

block meta
  title!= post.title + " - bis n채r Gschichte"
  meta(name="Description" content!="Gschicht 체ber " + post.title)
  meta(property='id' content=post._id)
  meta(property='og:title' content=post.title)
  meta(property='og:image' content=post.titleImage.url)
  meta(property="og:url" content= 'https://bisn채r.ch' + post.url)
  link(rel="canonical" href= 'https://bisn채r.ch' + post.url)

block styles
  !=webpack['/postCss.css']

block navigation
  +post-navigation(post)
  p.post-date.small.text-align-center
    span &mdash;&nbsp;
    span.italic= post.formattedPostDate
    span &nbsp;&mdash;

block body
  div.container
    article.main-post!= post.html

block footer
  footer.container
    +drawing(post.drawings)
    +next-post(nextPost)

block scripts
  script(defer src=webpack['/post.js'])

