<?xml version="1.0" encoding="UTF-8"?>

urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  //- Index
  url
    loc https://bisnär.ch
    lastmod= dateformat(Date.now(), 'isoDateTime')
  
  //- Bilder
  url
    loc https://bisnär.ch/bilder
    lastmod= dateformat(Date.now(), 'isoDateTime')

  
  each post in posts

    //- Gschicht
    url
      loc= post.liveUrl
      lastmod= dateformat(post.lastPublished, 'isoDateTime')

    //- Biuder
    url
      loc= post.galleryLiveUrl
      lastmod= dateformat(post.lastPublished, 'isoDateTime')
    