{{#extend "layout"}}
  {{#content "meta"}}
    <title>Biuder - Bis när</title>
  {{/content}}
  {{#content "navigation"}}
    <nav>
      <a href="/"><span>Reis</span></a>
      <a href="/">
        <img class="logo" src="{{logoURL}}" alt="">
        <span class="sr-only">Gschichte</span>
      </a>
      <a href="/galerie" class="active"><span>Bilder</span></a>
    </nav>
  {{/content}}
  {{#content "main"}}
    <div class="container">
      {{#each postsPerMonth}}
        <article class="month">
          <h1>{{@key}}</h1>
          <div class="gallery">
            {{#each this}}
              <div class="gallery__column">
                {{#each this}}
                  <img class="gallery__image" src="{{this.smallestThumb}}" alt="Bilder aus dem Blog" data-zoom-target="{{this.biggestThumb}}">
                {{/each}}
              </div>
            {{/each}}
          </div>
        </article>
      {{else}}
        <p class="italic text-align-center">Da si ja no gar keiner Bilder...</p>
      {{/each}}
    </div>
    <img class="medium-zoom__close-button" src="/img/close.svg" alt="Close Button">
  {{/content}}
  {{#content "scripts"}}
    <script defer="defer" src="{{webpack.[/gallery.js]}}"></script>
  {{/content}}
{{/extend}}
