{{#extend "layout"}}
  {{#content "styles"}}
    <link rel="stylesheet" href="{{webpack.[/map.css]}}">
  {{/content}}
  {{#content "navigation"}}
    <nav>
        <a href="/" class="active"><span>Reis</span></a>
        <a href="/"><img class="logo" src="{{logoURL}}" alt=""></a>
        <a href="/galerie"><span>Bilder</span></a>
    </nav>
  {{/content}}
  {{#content "main"}}
    <div id="map"></div>
    <div class="container">
      <ul class="posts timeline">
        {{#each posts}}
        <li>
          <a href="{{this.url}}">
            <h1 class="h4">{{this.title}}</h1>
            <p class="post-published">{{this.created}}</p>
            {{{this.description}}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  {{/content}}

  {{#content "scripts"}}
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-database.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBADvjevyMmDkHb_xjjh3FOltkO2Oa8iAQ"></script>
    <script src="{{webpack.[/map.js]}}"></script>
  {{/content}}
{{/extend}}
