{{#extend "layout"}}
  {{#content "meta"}}
    <title>bis när</title>
  {{/content}}
  {{#content "styles"}}
    {{{webpack.[/map.css]}}}
  {{/content}}
  {{#content "navigation"}}
    <nav>
        <a href="/" class="active"><span>Gschichte</span></a>
        <a href="/"><img class="logo" src="{{logoURL}}" alt="Logo"></a>
        <a href="/galerie"><span>Bilder</span></a>
    </nav>
  {{/content}}
  {{#content "main"}}
    <div id="map" class="map"></div>
    <div class="container">
      <p class="text-align-center map-tipp">
        <img src="/img/map-tipp.png" alt="Click hie und gib üs e Reisetipp">
      </p>
      <div id="bookmark"></div>
      <h1>Gschichte</h1>
      <ul class="posts">
        {{#each posts}}
          <li class="post">
            <a href="{{this.url}}" class="post__link">
              {{#if this.heroImageUrl}}
                <div class="post__title-image" style="background-image:url({{this.heroImageUrl}})"></div>
              {{/if}}
              <div class="post__overlay">
                <p class="post__published">{{this.created}}</p>
                <h2 class="post__title h4">{{this.title}}</h2>
              </div>
            </a>
          </li>
        {{else}}
          <p class="italic grey-text">Da si ja no gar keiner Gschichte...</p>
        {{/each}}
      </ul>
      <hr />
      <div id="subscribe"></div>
    </div>
  {{/content}}

  {{#content "scripts"}}
    <script defer="defer" src="https://www.gstatic.com/firebasejs/3.7.1/firebase-app.js"></script>
    <script defer="defer" src="https://www.gstatic.com/firebasejs/3.7.1/firebase-database.js"></script>
    <script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js"></script>
    <script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBADvjevyMmDkHb_xjjh3FOltkO2Oa8iAQ"></script>
    <script defer="defer" src="{{webpack.[/map.js]}}"></script>
  {{/content}}
{{/extend}}
