{{#extend "layout"}}
  {{#content "meta"}}
    <meta property="og:title" content="{{post.title}}">
    <meta property="og:image" content="{{post.heroImageUrl}}">
    <meta property="id" content="{{post.id}}">
    <title>{{post.title}}</title>
  {{/content}}
  {{#content "navigation"}}
    <nav>
        <a class="left-link" href="/">
          <span class="hidden-mobile">Reis</span>
          <img src="/img/arrow-back.svg" alt="Zrugg" class="visible-mobile">
        </a>
        <a href="/">
          <img class="logo" src="{{logoURL}}" alt="">
          <span class="sr-only">Gschichte</span>
        </a>
        <a class="right-link" href="/galerie">
          <span class="hidden-mobile">Bilder</span>
        </a>
    </nav>
    <p class="post-date small text-align-center">
      <span>&mdash;&nbsp;</span>
      <span class="italic">{{post.created}}</span>
      <span>&nbsp;&mdash;</span>
    </p>
  {{/content}}
  {{#content "main"}}
    <div class="container">
      <article class="main-post">{{{post.html}}}</article>
      {{!-- <div class="drawing" id="zeichne">
        <hr class="blog-divider">
        <p class="italic text-align-center">Zeichne dini Meinig zur Gschicht:</p>
        <canvas id="drawing" class="drawing__canvas blank"></canvas>
        <p class="drawing__error error hide"></p>
        <p class="text-align-center">
          <button class="drawing__clear">Lösche</button>
          <button class="drawing__save">Schicke</button>
        </p>
        <div class="drawing__display">
          {{#each post.drawings}}
          <img data-no-zoom="" src="{{this}}" alt="Zeichnig"> {{/each}}
        </div>
      </div> --}}
      {{#if nextPost}}
        <hr class="blog-divider">
        <a class="next-post-link" href="{{nextPost.url}}">
          <article class="next-post">{{{nextPost.excerpt}}}</article>
        </a>
      {{else}}
        <hr class="blog-divider">
        <a class="next-post-link" href="/galerie">
          <div class="next-post">
            <img data-no-zoom="" src="/img/grid.png" alt="Bildergalerie">
            <h3 class="next-post__title">No chli Biuder luege?</h3>
          </div>
        </a>
        <br>
      {{/if}}
    </div>
  {{/content}}
  {{#content "scripts"}}
    <script defer="defer" src="{{webpack.[/post.js]}}"></script>
  {{/content}}
{{/extend}}
